.containerStyle {
  max-width: 100%;
  padding: 20px;
}

.imageContainerStyle {
  width: 100%;
  text-align: center;
}

.imageStyle {
  width: 50%;
  height: auto;
  margin-bottom: 15px;
  display: inline-block;
}

.quantityContainerStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.quantityButtonStyle {
  font-size: 1.5rem;
  padding: 5px 10px;
  margin-bottom: 5px;
  margin-right: 20px;
}

.descriptionStyle {
  margin-top: 20px;
  font-size: 1.2rem;
}
